<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <h1>
        """
        Script para definição do nome do Pumba
        """
    </h1>
    <pre>
         /^ ^\
        / 0 0 \
        V\ Y /V
         / - \
         |    \
         || (__V
    </pre> 
    {% block content %}
        {{ resultado }}
    {% endblock %}
</body>
</html>
